.hero {
    z-index: -1;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-txt {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;

            font-family: "Montserrat Alternates";
            font-size: 48px;
            color: $off-white;
            margin: 0 auto;
            animation: fadeInUp 2s linear;

            h1 {
                font-weight: 100;
                margin: 0;

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 100vw;
    //     height: 100vw;
    //     background-color: black;
    // }
}

.about {
    &__container {
        display: flex;
        font-size: 115px;
        margin: 0 auto;
        padding: 100px 0;

        .image-container {
            max-width: 700px;
            height: auto;
            padding: 0 25px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(100%);
            }
        }

        &-bg {
            position: relative;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__txt {
        display: flex;
        flex-direction: column;
        padding: 0 50px;

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 16px;
            line-height: 24px;
            padding: 0;
            text-align: left;
        }

        .cta {
            background-color: $dark-green;
            padding: 20px;
            border-radius: 10px;
            border: none;

            a {
                color: $off-white;
                font-weight: 400px;
            }
        }
    }
}

.contact {
    &__container {
        height: 20vw;
        display: flex;
        flex-direction: column;
        &-txt {
            position: absolute;
            font-family: "Montserrat Alternates";
            margin: 0 auto;

        }
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
