.hero {
    z-index: -1;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-txt {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;

            font-family: "Montserrat Alternates";
            font-size: 48px;
            color: $off-white;
            margin: 0 auto;
            animation: fadeInUp 2s linear;

            h1 {
                font-weight: 100;
                margin: 0;

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     width: 100vw;
    //     height: 100vw;
    //     background-color: black;
    // }
}

.about {
    &__container {
        &-bg {
            position: relative;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }
        &-txt {
            position: absolute;
            display: flex;
            font-family: "Montserrat Alternates";
            color: $dark-green;
            font-size: 115px;
            margin: 0 auto;
        }

        .headshot-container {
            position: relative;
        }
    }
}

.apple-pie-day {
    &__container {
        background-color: $dark-green;

        &-txt {
            color: #faf9f6;
            font-size: 48px;
        }
    }
}

.company-event {
    &__container {
        background-color: $off-white;

        &-txt {
            color: #faf9f6;
            font-size: 48px;
        }
    }
}

.great-iowa-homes {
    &__container {
        background-color: $dark-green;

        &-txt {
            color: #faf9f6;
            font-size: 48px;
        }
    }
}

.ir-agent {
    &__container {
        background-color: $off-white;

        &-txt {
            color: #faf9f6;
            font-size: 48px;
        }
    }
}

.ir-foundation {
    &__container {
        background-color: $dark-green;

        &-txt {
            color: #faf9f6;
            font-size: 48px;
        }
    }
}

.ringer-golf {
    &__container {
        background-color: $off-white;

        &-txt {
            color: #faf9f6;
            font-size: 48px;
        }
    }
}

.school-supply-drive {
    &__container {
        background-color: $dark-green;

        &-txt {
            color: #faf9f6;
            font-size: 48px;
        }
    }
}

.united-way {
    &__container {
        background-color: $off-white;

        &-txt {
            color: #faf9f6;
            font-size: 48px;
        }
    }
}
.contact {
    &__container {
        &-txt {
            position: absolute;
            font-family: "Montserrat Alternates";
            color: rgb(15, 20, 7);
            font-size: 48px;
            margin: 0 auto;
        }
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
