.project-txt {
    text-align: center;

    h2 {

        @include mobile {
            font-size: 24px;
        }
    }
}

.project-samples {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-evenly;
    padding: 25px;


    &__card {
        position: relative;
        width: 30vw;

        @include mobile {
            width: 90vw;
        }


        img {
            max-width: none;
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: grayscale(100%);

            &:hover {
                filter: none;
                transform:translateY(-10px);
                transition: 0.5s ease-in;
            }
        }
    }

    @include mobile {
        flex-direction: column;
    }
}
