.project-txt {
    text-align: center;

    h2 {
        @include mobile {
            font-size: 24px;
        }
    }
}

.project-samples {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-evenly;
    padding: 25px;

    &__card {
        position: relative;
        display: flex;
        justify-content: center;
        width: 30vw;


        @include mobile {
            width: 90vw;
        }

        img {
            max-width: none;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        p.project-name {
            position: absolute;
            width: 100%;
            text-align: center;
            font-family: $Avenir;
            font-weight: 600;
            font-size: 24px;
            top: 40%;
            z-index: 2;
            color: $off-white;
        }

        &:after {
            content: "";
            position: absolute;

            background-color: rgba(0, 0, 0, 0.65);
            opacity: 0;

            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            z-index: 1;
        }
        &:hover {
            transform: translateY(-10px);
            transition: 0.5s ease-in;

            @include mobile {
                transform: none;
            }

            &:after {
                opacity: 1;
                transition: 0.5s ease-in;
            }

        }
    }

    @include mobile {
        flex-direction: column;
    }
}
