.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $dark-green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    position: relative;
    padding: 50px;

    .swiper-slide {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 50px;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
            transition: 1s ease-out;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        content: "";
        position: absolute;
        background-color: white;
        height: 500px;
        width: 500px;
    }
}

h2 {
    font-size: 48px;

    &.white {
        color: $off-white;
    }

    &.green {
        color: $dark-green;
    }
}

h3 {
    font-size: 24px;
    padding: 0 200px;
    text-align: center;

    &.white {
        color: $off-white;
    }

    &.green {
        color: $dark-green;
    }
}
